* {
    margin: 0;
    padding: 0;
}

/* common shared css */

body {
    font-family: 'Open Sans', sans-serif;
}

.primary-text-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background: #FD6E0A;
    flex-shrink: 0;
    color: var(--white-color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    border: 0;
    padding: 18px 35px 19px 36px;
}

.section-title {
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-style: normal;
}

/* nav related css */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #181818;
}

nav>h1 {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header {
    background-color: #FFF8F3;
    background-image: url("/images/developer.png");
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-position-x: 10px;
    background-size: 90px 700px;
}


/* this is devoloper section  */

.developer h3 {
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.developer p {
    color: #757575;
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.najmul-img {
    width: 584px;

}

.buttons {
    margin-top: 10px;
}

.devoloper-text {
    margin-top: 10px;
}


/* this is about section css */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 50px;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-description {
    color: var(--dark-03, #757575);
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 15px;

}

.section-description1 {
    display: flex;
    justify-content: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    text-align: center;
}

.info-title {
    color: #757575;
}

info-discription {
    color: #474747;
}

/* what i do section css */
.what-i-do {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.skills-container {
    display: flex;

}

.skill {
    padding: 15px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 5px;
    margin-top: 15px;
}

.what-do-img {
    margin-bottom: 9px;
}

.skill-title {
    margin-bottom: 9px;
}

/* resume part css */
.resume-container {
    display: flex;
    gap: 30px;
    padding-top: 50px;

}

.summary-section {
    padding: 50px;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.part-title {
    padding-bottom: 10px;
    padding-top: 10px;
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
}

.resume-part hr {
    margin: 20px 0px;
}

.education-insitiute-name {
    color: var(--dark-02, #474747);
}

.institute {
    color: var(--dark-03, #757575);
}

.institute-description {
    color: var(--dark-03, #757575);
    padding-top: 12px;
}